OPENAI_API_KEY=your_openai_api_key_here
VECTOR_DB_PATH=./data/vector_db
PDF_INPUT_DIR=./data/raw_pdfs
EXTRACTED_TEXT_DIR=./data/extracted_text
CHUNK_OUTPUT_DIR=./data/chunks
PARSED_OUTPUT_DIR=./data/parsed_results